<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBD1gHW53ORRiVZirWEbVhJwHeEqnEo3vY</string>
	<key>GCM_SENDER_ID</key>
	<string>218866226896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.missionecattolicaitaliana</string>
	<key>PROJECT_ID</key>
	<string>missione-cattolica-ital-1v423l</string>
	<key>STORAGE_BUCKET</key>
	<string>missione-cattolica-ital-1v423l.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218866226896:ios:9e5fbe3537aea57fbff0d5</string>
</dict>
</plist>